n8n OCR workflow.json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {
        "path": "4eaaf056-4d9c-44c9-b766-9a1ddb228fd7",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -176,
        0
      ],
      "id": "b0dc0e4e-17ec-4404-a5d4-8b84667cc087",
      "name": "Webhook",
      "webhookId": "4eaaf056-4d9c-44c9-b766-9a1ddb228fd7",
      "notesInFlow": true,
      "notes": "listen for an image url"
    },
    {
      "parameters": {
        "url": "https://api.ocr.space/parse/imageurl",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "K86608474288957"
            },
            {
              "name": "url",
              "value": "={{ $json.query['image-url'] }}"
            },
            {
              "name": "OCREngine",
              "value": "2"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        32,
        0
      ],
      "id": "963bb6bf-a988-4cf5-b3ce-fa1e1df80e48",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "model": "mistral-small-latest",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatMistralCloud",
      "typeVersion": 1,
      "position": [
        176,
        208
      ],
      "id": "da0c5887-b52c-42ea-980f-1f63a9755aa4",
      "name": "Mistral Cloud Chat Model",
      "credentials": {
        "mistralCloudApi": {
          "id": "7tDD9vCxq4ewugxk",
          "name": "Mistral Cloud account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=From OCR extracted receipt text below, extract the following information: Vendor, Total, Date.\n\nVendor should be the first word in the receipt.\nTotal is the largest decimal deliminated number.\nDate should follow mm/dd/yy format. \n{{ $json.ParsedResults[0].ParsedText }}",
        "hasOutputParser": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        240,
        0
      ],
      "id": "637e3e35-d429-4f19-b3ae-58c36d784805",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"Vendor\":\"COSTCO WHOLESALE\",\n  \"Total\":89.15,\n  \"Date\":\"04/27/2017\"\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        416,
        208
      ],
      "id": "c0302ec9-fc01-4a54-81b4-b9ba8603285f",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json.output }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        592,
        0
      ],
      "id": "24961d0e-4df1-411c-9e85-cb245d9d0726",
      "name": "Respond to Webhook"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mistral Cloud Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "cec7f08b-549b-4149-b7cb-56ec340c11ca",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "460a5808e0e5f7a9ea2bd82881e7130de60cd32a2cbfb78c883ab851ed6cc28e"
  },
  "id": "GUHsFQwTVfcTFJIR",
  "tags": []
}